h5{
    text-align: center;
}

div{
    font-size: 32px;
}
a{
    font-size: 32px;
}

.squidwardcbs{
    padding: 95px;
    background-color: black; 
}
.squid2{
    padding: 137px;
    background-color: black;

}
.content{
    display: grid;
    grid-template-columns: repeat(1, 7fr);
    grid-template-rows: repeat(1, 10000px);
    background: dimgray;
}