<html>
  <head>
    <meta charset="UTF-8" />
    <title>React Cart</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    
  </head>

  <body>
    <!-- We will put our React component inside this div. -->
    <div id="root"></div>

    <div class='waterbackground'></div>
    <h5 class='fontwater' style="z-index: 7; position: absolute; left: 100px; top: 2700px">#APPLYSCIENCE - Seller Agency Residential - 
        Per Specific Price Point - Example from date 9/6/2018 - Add Price Reduction data if possible... </h5>
        <br/>
        <br/>
        <br/>
        <a class='fontwater' style="z-index: 7; position: absolute; left: 100px; top: 2800px">$9/6/18-$9/20/18: 0-14 days</a>
        <a></a>
        <div class='fontwater' style="z-index: 7; position: absolute; left: 550px; top: 2800px">$2022:</div>
        <a></a>
        <div id='planAsales' class='fontwater' style="z-index: 7; position: absolute; left: 700px; top: 2800px"></div>
        <a></a>
        <div id='fractionArate'class='fontwater' style="z-index: 7; position: absolute; left: 800px; top: 2800px"></div>
        <a></a>
        <div id='planArate' class='fontwater' style="z-index: 7; position: absolute; left: 950px; top: 2800px"></div>
        <div id='planAdiff' class='fontwater' style="z-index: 7; position: absolute; left: 1075px; top: 2800px"></div>
        <br/>
        <br/>
        <br/>
        <a></a>
        <div class='fontwater' style="z-index: 7; position: absolute; left: 550px; top: 2900px">$2021:</div>
        <a></a>
        <div  id='planAsales21' class='fontwater' style="z-index: 7; position: absolute; left: 700px; top: 2900px"></div> </div>
        <a></a>
        <div id='fractionArate21'class='fontwater' style="z-index: 7; position: absolute; left: 800px; top: 2900px"></div>
        <a></a>
        <div  id='planArate21' class='fontwater' style="z-index: 7; position: absolute; left: 950px; top: 2900px"></div>
        <div  id='planAdiff21' class='fontwater' style="z-index: 7; position: absolute; left: 1075px; top: 2900px"></div>
        <br/>
        <br/>
        <br/>
        <a></a>
        <div class='fontwater' style="z-index: 7; position: absolute; left: 550px; top: 3000px">$2020:</div>
        <a></a>
        <div id='planAsales20' class='fontwater' style="z-index: 7; position: absolute; left: 700px; top: 3000px"></div>
        <a></a>
        <div id='fractionArate20'  class='fontwater' style="z-index: 7; position: absolute; left: 800px; top: 3000px"></div>
        <a></a>
        <div id='planArate20' class='fontwater' style="z-index: 7; position: absolute; left: 950px; top: 3000px"></div>
        <div id='planAdiff20' class='fontwater' style="z-index: 7; position: absolute; left: 1075px; top: 3000px"></div>
        <div class='fontwater' style="z-index: 7; position: absolute; left: 500px; top: 3000px">__________________________________________________________</div>
        <br/>
        <br/>
        <br/>
        <a></a>
        <div id='avgAsales' class='fontwater' style="z-index: 7; position: absolute; left: 700px; top: 3100px"></div>
        <a></a>
        <div class='fontwater' style="z-index: 7; position: absolute; left: 800px; top: 3100px">$4.3/4.6</div>
        <a></a>
        <div id='avgArate' class='fontwater' style="z-index: 7; position: absolute; left: 950px; top: 3100px"></div>
        <div id='avgAdiff' class='fontwater' style="z-index: 7; position: absolute; left: 1075px; top: 3100px"></div>
        <br/>
        <br/>
        <br/>
        <a class='fontwater' style="z-index: 7; position: absolute; left: 100px; top: 3200px">$x/xx/22-$xx/x/22: 15-30 days</a>
        <a></a>
        <div class='fontwater' style="z-index: 7; position: absolute; left: 550px; top: 3200px">$2022:</div>
        <a></a>
        <div id='planBsales' class='fontwater' style="z-index: 7; position: absolute; left: 700px; top: 3200px"></div>
        <a></a>
        <div id='fractionBrate'class='fontwater' style="z-index: 7; position: absolute; left: 800px; top: 3200px"></div>
        <a></a>
        <div id='planBrate' class='fontwater' style="z-index: 7; position: absolute; left: 950px; top: 3200px"></div>
        <div id='planBdiff' class='fontwater' style="z-index: 7; position: absolute; left: 1075px; top: 3200px"></div>
        <br/>
        <br/>
        <br/>
        <a></a>
        <div class='fontwater' style="z-index: 7; position: absolute; left: 550px; top: 3300px">$2021:</div>
        <a></a>
        <div id='planBsales21' class='fontwater' style="z-index: 7; position: absolute; left: 700px; top: 3300px"></div>
        <a></a>
        <div id='fractionBrate21' class='fontwater' style="z-index: 7; position: absolute; left: 800px; top: 3300px"></div>
        <a></a>
        <div id='planBrate21' class='fontwater' style="z-index: 7; position: absolute; left: 950px; top: 3300px"></div>
        <div id='planBdiff21' class='fontwater' style="z-index: 7; position: absolute; left: 1075px; top: 3300px"></div>
        <br/>
        <br/>
        <br/>
        <a></a>
        <div class='fontwater' style="z-index: 7; position: absolute; left: 550px; top: 3400px">$2020:</div>
        <a></a>
        <div id='planBsales20' class='fontwater' style="z-index: 7; position: absolute; left: 700px; top: 3400px"></div>
        <a></a>
        <div id='fractionBrate20'class='fontwater' style="z-index: 7; position: absolute; left: 800px; top: 3400px"></div>
        <a></a>
        <div id='planBrate20' class='fontwater' style="z-index: 7; position: absolute; left: 950px; top: 3400px"></div>
        <div id='planBdiff20' class='fontwater' style="z-index: 7; position: absolute; left: 1075px; top: 3400px"></div>
        <div class='fontwater' style="z-index: 7; position: absolute; left: 500px; top: 3400px">__________________________________________________________</div>
        <br/>
        <br/>
        <br/>
        <a></a>
        <div id='avgBsales' class='fontwater' style="z-index: 7; position: absolute; left: 700px; top: 3500px"></div>
        <a></a>
        <div class='fontwater' style="z-index: 7; position: absolute; left: 800px; top: 3500px">$x.x/x.x</div>
        <a></a>
        <div id='avgBrate' class='fontwater' style="z-index: 7; position: absolute; left: 950px; top: 3500px"></div>
        <div id='avgBdiff' class='fontwater' style="z-index: 7; position: absolute; left: 1075px; top: 3500px"></div>
        <br/>
        <br/>
        <br/>
        <a class='fontwater' style="z-index: 7; position: absolute; left: 100px; top: 3600px">$10/6/18-$10/20/18: 31-45 days</a>
        <a></a>
        <div class='fontwater' style="z-index: 7; position: absolute; left: 550px; top: 3600px">$2022:</div>
        <a></a>
        <div id='planCsales' class='fontwater' style="z-index: 7; position: absolute; left: 700px; top: 3600px"></div>
        <a></a>
        <div id='fractionCrate'class='fontwater' style="z-index: 7; position: absolute; left: 800px; top: 3600px"></div>
        <a></a>
        <div id='planCrate' class='fontwater' style="z-index: 7; position: absolute; left: 950px; top: 3600px"></div>
        <div id='planCdiff' class='fontwater' style="z-index: 7; position: absolute; left: 1075px; top: 3600px"></div>
        <br/>
        <br/>
        <br/>
        <a></a>
        <div class='fontwater' style="z-index: 7; position: absolute; left: 550px; top: 3700px">$2021:</div>
        <a></a>
        <div id='planCsales21' class='fontwater' style="z-index: 7; position: absolute; left: 700px; top: 3700px"></div>
        <a></a>
        <div id='fractionCrate21'class='fontwater' style="z-index: 7; position: absolute; left: 800px; top: 3700px"></div>
        <a></a>
        <div id='planCrate21' class='fontwater' style="z-index: 7; position: absolute; left: 950px; top: 3700px"></div>
        <div id='planCdiff21' class='fontwater' style="z-index: 7; position: absolute; left: 1075px; top: 3700px"></div>
        <br/>
        <br/>
        <br/>
        <a></a>
        <div class='fontwater' style="z-index: 7; position: absolute; left: 550px; top: 3800px">$2020:</div>
        <a></a>
        <div id='planCsales20' class='fontwater' style="z-index: 7; position: absolute; left: 700px; top: 3800px"></div>
        <a></a>
        <div id='fractionCrate20'class='fontwater' style="z-index: 7; position: absolute; left: 800px; top: 3800px"></div>
        <a></a>
        <div id='planCrate20' class='fontwater' style="z-index: 7; position: absolute; left: 950px; top: 3800px"></div>
        <div id='planCdiff20' class='fontwater' style="z-index: 7; position: absolute; left: 1075px; top: 3800px"></div>
        <div class='fontwater' style="z-index: 7; position: absolute; left: 500px; top: 3800px">__________________________________________________________</div>
        <br/>
        <br/>
        <br/>
        <a></a>
        <div id='avgCsales' class='fontwater' style="z-index: 7; position: absolute; left: 700px; top: 3900px"></div>
        <a></a>
        <div class='fontwater' style="z-index: 7; position: absolute; left: 800px; top: 3900px">$x.x/x.x</div>
        <a></a>
        <div id='avgCrate' class='fontwater' style="z-index: 7; position: absolute; left: 950px; top: 3900px"></div>
        <div id='avgCdiff' class='fontwater' style="z-index: 7; position: absolute; left: 1075px; top: 3900px"></div>
        <br/>
        <br/>
        <br/>
        <a class='fontwater' style="z-index: 7; position: absolute; left: 100px; top: 4000px">$10/21/18-$12/4/18: 46-90 days</a>
        <a></a>
        <div class='fontwater' style="z-index: 7; position: absolute; left: 550px; top: 4000px">$2022:</div>
        <a></a>
        <div id='planDsales' class='fontwater' style="z-index: 7; position: absolute; left: 700px; top: 4000px"></div>
        <a></a>
        <div id='fractionDrate'class='fontwater' style="z-index: 7; position: absolute; left: 800px; top: 4000px"></div>
        <a></a>
        <div id='planDrate' class='fontwater' style="z-index: 7; position: absolute; left: 950px; top: 4000px"></div>
        <div id='planDdiff' class='fontwater' style="z-index: 7; position: absolute; left: 1075px; top: 4000px"></div>
        <br/>
        <br/>
        <br/>
        <a></a>
        <div class='fontwater' style="z-index: 7; position: absolute; left: 550px; top: 4100px">$2021:</div>
        <a></a>
        <div id='planDsales21' class='fontwater' style="z-index: 7; position: absolute; left: 700px; top: 4100px"></div>
        <a></a>
        <div id='fractionDrate21'class='fontwater' style="z-index: 7; position: absolute; left: 800px; top: 4100px"></div>
        <a></a>
        <div id='planDrate21' class='fontwater' style="z-index: 7; position: absolute; left: 950px; top: 4100px"></div>
        <div id='planDdiff21' class='fontwater' style="z-index: 7; position: absolute; left: 1075px; top: 4100px"></div>
        <br/>
        <br/>
        <br/>
        <a></a>
        <div class='fontwater' style="z-index: 7; position: absolute; left: 550px; top: 4200px">$2020:</div>
        <a></a>
        <div id='planDsales20' class='fontwater' style="z-index: 7; position: absolute; left: 700px; top: 4200px"></div>
        <a></a>
        <div id='fractionDrate20'class='fontwater' style="z-index: 7; position: absolute; left: 800px; top: 4200px"></div>
        <a></a>
        <div id='planDrate20' class='fontwater' style="z-index: 7; position: absolute; left: 950px; top: 4200px"></div>
        <div id='planDdiff20' class='fontwater' style="z-index: 7; position: absolute; left: 1075px; top: 4200px"></div>
        <div class='fontwater' style="z-index: 7; position: absolute; left: 500px; top: 4200px">__________________________________________________________</div>
        <br/>
        <br/>
        <br/>
        <a></a>
        <div id='avgDsales' class='fontwater' style="z-index: 7; position: absolute; left: 700px; top: 4300px"></div>
        <a></a>
        <div class='fontwater' style="z-index: 7; position: absolute; left: 800px; top: 4300px">$x.x/x.x</div>
        <a></a>
        <div id='avgDrate' class='fontwater' style="z-index: 7; position: absolute; left: 950px; top: 4300px"></div>
        <div id='avgDdiff' class='fontwater' style="z-index: 7; position: absolute; left: 1075px; top: 4300px"></div>
        <br/>
        <br/>
        <br/>
        <a class='fontwater' style="z-index: 7; position: absolute; left: 100px; top: 4400px">$12/5/18-$1/5/19: 91-120 days</a>
        <a></a>
        <div class='fontwater' style="z-index: 7; position: absolute; left: 550px; top: 4400px">$2022:</div>
        <a></a>
        <div id='planEsales' class='fontwater' style="z-index: 7; position: absolute; left: 700px; top: 4400px"></div>
        <a></a>
        <div id='fractionErate'class='fontwater' style="z-index: 7; position: absolute; left: 800px; top: 4400px"></div>
        <a></a>
        <div id='planErate' class='fontwater' style="z-index: 7; position: absolute; left: 950px; top: 4400px"></div>
        <div id='planEdiff' class='fontwater' style="z-index: 7; position: absolute; left: 1075px; top: 4400px"></div>
        <br/>
        <br/>
        <br/>
        <a></a>
        <div class='fontwater' style="z-index: 7; position: absolute; left: 550px; top: 4500px">$2021:</div>
        <a></a>
        <div id='planEsales21' class='fontwater' style="z-index: 7; position: absolute; left: 700px; top: 4500px"></div>
        <a></a>
        <div id='fractionErate21'class='fontwater' style="z-index: 7; position: absolute; left: 800px; top: 4500px"></div>
        <a></a>
        <div id='planErate21' class='fontwater' style="z-index: 7; position: absolute; left: 950px; top: 4500px"></div>
        <div id='planEdiff21' class='fontwater' style="z-index: 7; position: absolute; left: 1075px; top: 4500px"></div>
        <br/>
        <br/>
        <br/>
        <a></a>
        <div class='fontwater' style="z-index: 7; position: absolute; left: 550px; top: 4600px">$2020:</div>
        <a></a>
        <div id='planEsales20' class='fontwater' style="z-index: 7; position: absolute; left: 700px; top: 4600px"></div>
        <a></a>
        <div id='fractionErate20'class='fontwater' style="z-index: 7; position: absolute; left: 800px; top: 4600px"></div>
        <a></a>
        <div id='planErate20' class='fontwater' style="z-index: 7; position: absolute; left: 950px; top: 4600px"></div>
        <div id='planEdiff20' class='fontwater' style="z-index: 7; position: absolute; left: 1075px; top: 4600px"></div>
        <div class='fontwater' style="z-index: 7; position: absolute; left: 500px; top: 4600px">__________________________________________________________</div>
        <br/>
        <br/>
        <br/>
        <a></a>
        <div id='avgEsales' class='fontwater' style="z-index: 7; position: absolute; left: 700px; top: 4700px"></div>
        <a></a>
        <div class='fontwater' style="z-index: 7; position: absolute; left: 800px; top: 4700px">$x.x/x.x</div>
        <a></a>
        <div id='avgErate' class='fontwater' style="z-index: 7; position: absolute; left: 950px; top: 4700px"></div>
        <div id='avgEdiff' class='fontwater' style="z-index: 7; position: absolute; left: 1075px; top: 4700px"></div>
        <br/>
        <br/>
  
        <br/>
    <h5 class='fontwater' style="z-index: 7; position: absolute; left: 420px; top: 4900px">[120days 2021 bp]</h5>
    <br/>
        <a class='fontwater' style="z-index: 7; position: absolute; left: 250px; top: 5000px">0-14 days</a>
        <a></a>
        <div id='sales14flush' class='fontwater' style="z-index: 7; position: absolute; left: 450px; top: 5000px""></div>
        <a></a>
        <div id='rates14flush' class='fontwater' style="z-index: 7; position: absolute; left: 650px; top: 5000px"></div>
        <a></a>
        <div id='duff14flush' class='fontwater' style="z-index: 7; position: absolute; left: 900px; top: 5000px"></div>
        <br/>
        <br/>
        <a class='fontwater' style="z-index: 7; position: absolute; left: 250px; top: 5100px">15-30 days</a>
        <a></a>
        <div id='sales30flush' class='fontwater' style="z-index: 7; position: absolute; left: 450px; top: 5100px"></div>
        <a></a>
        <div id='rates30flush' class='fontwater' style="z-index: 7; position: absolute; left: 650px; top: 5100px"></div>
        <a></a>
        <div id='duff30flush' class='fontwater' style="z-index: 7; position: absolute; left: 900px; top: 5100px"></div>
        <br/>
        <br/>
        <a class='fontwater' style="z-index: 7; position: absolute; left: 250px; top: 5200px">31-45 days</a>
        <a></a>
        <div id='sales45flush' class='fontwater' style="z-index: 7; position: absolute; left: 450px; top: 5200px"></div>
        <a></a>
        <div id='rates45flush' class='fontwater' style="z-index: 7; position: absolute; left: 650px; top: 5200px"></div>
        <a></a>
        <div id='duff45flush' class='fontwater' style="z-index: 7; position: absolute; left: 900px; top: 5200px"></div>
        <br/>
        <br/>
        <a class='fontwater' style="z-index: 7; position: absolute; left: 250px; top: 5300px">46-90 days</a>
        <a></a>
        <div id='sales90flush' class='fontwater' style="z-index: 7; position: absolute; left: 450px; top: 5300px"></div>
        <a></a>
        <div id='rates90flush' class='fontwater' style="z-index: 7; position: absolute; left: 650px; top: 5300px"></div>
        <a></a>
        <div id='duff90flush' class='fontwater' style="z-index: 7; position: absolute; left: 900px; top: 5300px"></div>
        <br/>
        <br/>
        <a class='fontwater' style="z-index: 7; position: absolute; left: 250px; top: 5400px">91-120 days</a>
        <a></a>
        <div id='sales120flush' class='fontwater' style="z-index: 7; position: absolute; left: 450px; top: 5400px"></div>
        <a></a>
        <div id='rates120flush' class='fontwater' style="z-index: 7; position: absolute; left: 650px; top: 5400px"></div>
        <a></a>
        <div id='duff120flush' class='fontwater' style="z-index: 7; position: absolute; left: 900px; top: 5400px"></div>
        <br/>
        <br/>
        <a class='fontwater' style="z-index: 7; position: absolute; left: 250px; top: 1810px">121+ days</a>
        <a></a>
        <div id='sales121flush' class='fontwater' style="z-index: 7; position: absolute; left: 450px; top: 5500px"></div>
        <a></a>
        <div id='rates121flush' class='fontwater' style="z-index: 7; position: absolute; left: 650px; top: 5500px"></div>
        <a></a>
        <div id='duff121flush' class='fontwater' style="z-index: 7; position: absolute; left: 900px; top: 5500px"></div>
        <br/>
        <br/> 
        <p style="z-index: 7; position: absolute; left: 100px; top: 5600px"> 120+ optional depending on sample size - add price reduction data if possible</p>
  
        </div>

    <!-- Load React. -->
    <script
      src="https://unpkg.com/react/umd/react.development.js"
      crossorigin
    ></script>
    <script
      src="https://unpkg.com/react-dom/umd/react-dom.development.js"
      crossorigin
    ></script>
    <script
      src="https://unpkg.com/react-router@5/umd/react-router.min.js"
      crossorigin
    ></script>
    <script src="https://unpkg.com/react-router-dom@5/umd/react-router-dom.min.js"></script>
    <script
      src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.min.js"
      crossorigin
    ></script>
    <!-- Load our Axios and our component. -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="getData0.jsx" defer type="text/babel"></script>
  </body>
</html>
