.waterbackground{
    display: grid;
    grid-template-columns: repeat(1, 5.5fr);
    grid-template-rows: repeat(1, 3200px);
    background: rgb(34, 34, 34);

}

.waterbackgroundactive{
  display: grid;
  grid-template-columns: repeat(1, 5.5fr);
  grid-template-rows: repeat(1, 285px);
  background: rgb(34, 34, 34);

}

.back{
  background: rgb(34, 34, 34);
}

.backctg{
  background: rgb(23, 23, 23);
}

.uranus{
  overflow-y: hidden;
}



.waterbackgroundctg{
  display: grid;
  grid-template-columns: repeat(1, 5.5fr);
  grid-template-rows: repeat(1, 4000px);
  background: rgb(24, 24, 24);
}

.waterbackgroundctgactive{
  display: grid;
  grid-template-columns: repeat(1, 5.5fr);
  grid-template-rows: repeat(1, 495px);
  background: rgb(24, 24, 24);
}

.innerelementback{
    display: grid;
    grid-template-columns: repeat(1, 5.5fr);
    grid-template-rows: repeat(1, 800px);
    background: rgb(34, 34, 34);
}

.innerelementbackctg{
  display: grid;
  grid-template-columns: repeat(1, 5.5fr);
  grid-template-rows: repeat(1, 225px);
  background: rgb(24, 24, 24);
}

.yeartitle{
font-size: 40px;
color: rgb(84, 84, 84);
font-family: 'Comic Sans MS';
}

.activetitle{
  font-size: 57px;
  color: rgb(6, 6, 6);
  font-family: 'Comic Sans MS';
  }

.fontwater{
    font-size: 15px;
    color: rgb(84, 84, 84);
    font-family: sans-serif;
}

.fontwatersign{
  font-size: 70px;
  color: rgb(64, 64, 64);
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.innerelementwater{
    font-size: 19px;
    color: rgb(84, 84, 84);
    font-family: sans-serif;
}



.innerelementwater642{
    font-size: 14px;
    color: rgb(84, 84, 84);
    font-family: sans-serif;
  }





.hashh{
    font-size: 16px;
    color: rgb(6, 6, 6);
    font-family: sans-serif;
    
}

.hashhctg{
  font-size: 16px;
  color: rgb(64, 64, 64);
  font-family: sans-serif;
}

.hashh66{
  font-size: 14.5px;
  color: rgb(15, 15, 15);
  font-family: sans-serif;
  
}

.hashh666{
  font-size: 14.5px;
  color: rgb(64, 64, 64);
  font-family: sans-serif;
  
}

.seperator{
  height: 50%;
  width: 3px;
  background: rgb(64, 64, 64);
  top: 575px;
  bottom: 0;
  position: absolute;
  left: 50%
}


.activeseperatoruno{
    height: 62%;
    width: 3px;
    background: rgb(64, 64, 64);
    top: 1199px;
    bottom: 0;
    position: absolute;
    left: 44%
}

.awater{
    font-size: 20.5px;
    color: rgb(84, 84, 84);
    font-family: 'Comic Sans MS';
}

.apopwater{
    font-size: 20.5px;
    color: rgb(15, 15, 15);
    font-family: 'Comic Sans MS';
}

.a1water{
    font-size: 15.5px;
    color: rgb(84, 84, 84);
    font-family: 'Comic Sans MS';
}

.a12water{
    font-size: 15.3px;
    color: rgb(14, 14, 14);
    font-family: sans-serif;
}



.marketantfont{
    font-size: 15.5px;
    color: rgb(34, 34, 34);
    font-family: sans-serif;
}

.marketantfont2{
    font-size: 35px;
    color: rgb(84, 84, 84);
    font-family: 'Comic Sans MS';
}

.button1{
    font-size: 15.5px;
    color: rgb(51, 153, 255);
    font-family: sans-serif;
}

.button{
    background-color: rgb(54,54,54);
    border: none;
    border-radius: 8px;
    width: 130px;
    height: 49px;
    color: rgb(130, 130, 130);
  
    
    font-size: 15.5px;
    margin: 3px 1px;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-family: sans-serif;
  }


  .buttonctg{
    background-color: rgb(46,46,46);
    border: none;
    border-radius: 8px;
    width: 130px;
    height: 49px;
    color: rgb(130, 130, 130);
  
    
    font-size: 15.5px;
    margin: 3px 1px;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-family: sans-serif;
  }


  .buttonAVGsuburb{
    background-color: rgb(54,54,54);
    border: none;
    border-radius: 8px;
    width: 90px;
    height: 34px;
    color: rgb(130, 130, 130);
  
    
    font-size: 10.5px;
    margin: 3px 1px;
    opacity: 0.9;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-family: sans-serif;
  }

  

  .button:hover {opacity: 0.3}

  .buttonctg:hover {opacity: 0.3}





input{
    color: rgb(51, 153, 255);
    background: rgb(64, 64, 64);
    font-size: 15.5px;
}

.inputbat{
  color: rgb(7, 7, 7);
  background: rgb(84, 84, 84);
  font-size: 15.5px;
}

.input{
  color: rgb(251, 251, 251);
  background: rgb(7, 7, 7);
  font-size: 15.5px;
}

.seperator2{
    height: 50%;
    width: 3px;
    background: rgb(64, 64, 64);
    top: 1846px;
    bottom: 0;
    position: absolute;
    left: 50.75%
}

.seperator3{
    height: 25%;
    width: 3px;
    background: rgb(64, 64, 64);
    top: 1575px;
    bottom: 0;
    position: absolute;
    left: 50%
}

button{
    color: rgb(51, 153, 255);
    background: rgb(64, 64, 64);
    font-size: 15.5px;

}





.map-container {
    height: 300px;
    width: 50%;
    }
    
.sidebar {
        background-color: rgba(35, 55, 75, 0.9);
        color: #fff;
        padding: 6px 12px;
        font-family: monospace;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        margin: 12px;
        border-radius: 4px;
        }


.holygrail{

    font-size: 35.5px;
    color: rgb(11, 12, 11);
    font-family: 'Comic Sans MS';

}


.geocoder {
    position: absolute;
    z-index: 1;
    width: 100%;
   
    margin-left: -25%;
   
}




 
    .grid{
        display: grid;
        grid-template-columns: 200px 1fr 200px;
        grid-template-rows: auto 1fr auto;
       
        height: 90vh;
    }
    
    .section{
        font-size: 2em;
        font-weight: 800;
    }
    aside{
        background: rgb(34,34,34);
        border: 1px solid rgb(84,84,84);
        
    }
    article{
        background: rgb(34,34,34);
        width: 931px;
        height: 581px;
        border: 1px solid rgb(84,84,84);
    }
    header{
        grid-column: 1 / 4;
        background: rgb(34,34,34);
        height: 350px;
        border: 1px solid rgb(84,84,84);
    }
    
    footer{
        grid-column: 1 / 4;
        background: rgb(34,34,34);
        height: 475px;
        border: 1px solid rgb(84,84,84);
    }
    body{
        font-family: Arial;
    }

    .maininput{
        width: 500px;
    }




    .scroll{
        overflow-y: scroll;
        scroll-behavior: smooth;
    }
   


  .marker {
    background-image: url('mapbox-icon.png');
    background-size: cover;
    width: 75px;
    height: 75px;
    border-radius: 30%;
    cursor: pointer;
  }

 

  .mapdiv{
    background-color:rgb(130, 130, 130);
    padding: 10px;
  }

  .modalmtgcalc {
    position: fixed;       
    left: 50%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    background: rgb(68,68,68);
    width: 51vw;
    max-height: 78vh;
    background-size: cover;
    background-repeat: no-repeat no-repeat;
    background-position: left center;
    overflow-y: auto;
    cursor: grab;
  }

  .buttonmtgcalc{
    background-color: rgb(54,54,54);
    border: none;
    border-radius: 8px;
    width: 90px;
    height: 34px;
    color: rgb(130, 130, 130);
    padding-left: 10px;
  
    
    font-size: 10.5px;
    margin: 3px 1px;
    opacity: 0.9;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-family: sans-serif;
  }
  .h1mtgcalc{
    font-size: 21.5px;
    color: rgb(26, 26, 26);
    font-family: 'Comic Sans MS';
    text-align: 'center';
    padding-left: 10px;
    
  }

  .hmtgcalc{
    font-size: 21.5px;
    color: rgb(130, 130, 130);
    font-family: 'Comic Sans MS';
    text-align: 'center';
    padding-left: 10px;
    
  }

  .titlewatermtgcalc{
    font-family: comic Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: rgb(29.5, 29.5, 29.5);
}

  .calc{
    
    padding-left: 340px;
    padding-top: 25px;
    width: 45%;
    height: 45%;;
  }

  .spanmtgcalc{
    
    padding-left: 10px;
   
  }


  .calc2{
    width: 15%;
    height: 15%;;
  }

  .inputmtgcalc{
    color: rgb(46, 46, 46);
    background: rgb(130, 130, 130);
    font-size: 15.5px;
}

.divmtgcalc{
  padding-top: 10px;
}

 .bordermtgcalc{
  border: 6px solid rgb(24,24,24);
  padding: 30px;
 }

  
  
  .modal {
    position: fixed;       
   
    font-size: 15px;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    background: rgb(134,134,134);
    width: 80vw;
    max-height: 95vh;
    background-size: cover;
    background-repeat: no-repeat no-repeat;
    background-position: left center;
    overflow-y: auto;
    cursor: grab;
  }



  .listprice{
    background: rgb(190,190,190);
    height: 37vh;
    width: 17vw;
    overflow-y: auto;
    border: 4.5px solid rgb(0, 51, 102);
  }

  .listpricediv{
    height: 87vh;
    overflow-y: auto;
    width: 20.6vw
  }

  .listpricetext{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(16, 16, 16);
  }

  .listpriceimage{
    height: '500px';
    width: '500px';
  }



  .modal > body{

    height: 100vh;
    overflow-y: hidden;
   

  }




  .boat {
    overflow-y: hidden;
 
  }
  
  .borders {
    border: 4px solid rgb(54,54,54);
    padding: 10px;
    background-color: rgb(175,175,175);
    
  }

  
  
  .inborder{
    padding: 0px 20px;
  }
  
  .modalpop {
    position: absolute;  
     
    left: 51%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    background: rgb(134,134,134);
    width: 80vw;
    max-height: 95vh;
    background-size: cover;
    background-repeat: no-repeat no-repeat;
    background-position: left center;
    overflow-y: auto;
  }

  .hidden{
    display: none;
  }
  
  
  
  .margin {
    margin: 0px 700px;     
  }
  
  
  
  .modalin{
    width: 100px;
    max-height: 100px;
    }
  
  
  
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 20px 400px;
    max-height: 10%;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;

  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: rgb(64,64,64);
    border-radius: 18px;
    border: 1px solid rgb(34,34,34);
  }


  
  



.App{
    font-family: sans-serif;
    text-align: center;
  }
  
  img {
    height: 100px;
  }
  
  h1{
    color: #6c7ac9;
  }
  
  .pagination {
    display: flex;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
  }
  
  .pagination__link{
    font-weight: bold;
  }
  
  .pagination__link--active a {
    color: rgb(130, 130, 130);
    background: rgb(11,11,11);
  }
  
  .pagination__link--disabled a {
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
  }
  
  
  
  



  .background64{
    display: grid;
    grid-template-columns: repeat(1, 7fr);
    grid-template-rows: repeat(1, 225px);
    background: rgb(23, 23, 23);
  }

  .background64ctg{
    display: grid;
    grid-template-columns: repeat(1, 7fr);
    grid-template-rows: repeat(1, 225px);
    background: rgb(13, 13, 13);
  }
  
  a64{
    padding: 5px;
    text-align: center;
    font-size: 32px;
    color: rgb(19 ,18,19);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .body64{
    display: grid;
    grid-template-columns: repeat(1, 7fr);
    grid-template-rows: repeat(1, 1100px);
    background: black;
  }
  
  .opening64{
    font-size: 23px;
    color: rgb(27,27,27);
  }
  
  .innerelement64{
    font-size: 19px;
    color: blue;
  }
  .aopen64{
    font-size: 45px;
    color: rgb(27, 27, 27);
  }
  
  select64{
    background: dimgrey;
  }
  
  
  .fontnav64{
    font-size: 23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(46,46,46);
    color: rgb(15, 15, 15);
  }

  .fontnav64ctg{
    font-size: 23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(36,36,36);
    color: rgb(15, 15, 15);
  }
  
  .title64{
    font-family: comic Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: rgb(54, 54, 54);
  }
  
  .titlewater64{
    font-family: comic Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: rgb(54, 54, 54);
  }
  
  
  
  
  
  
  
  
    
    
    
    
    
    
    
    
    

   























  .modalACT {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    z-index: 2;
    top: 20%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
  }
  
  .modalACT .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .modalACT input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
  }
  
  .modalACT p {
    font-size: 0.9rem;
    color: #777;
    margin: 0.4rem 0 0.2rem;
  }
  
  .buttonACT {
    cursor: pointer;
    border: none;
    font-weight: 600;
  }
  
  .btnACT {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
  }
  
  .btn-openACT {
    position: absolute;
    bottom: 150px;
  }
  
  .btnACT-closeACT {
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
  }
  
  .overlayACT {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
  }
  
  .hiddenACT {
    display: none;
  }